<header id="header">
				<div class="logo"><a href="#login">Transitive <span>by TEMPLATED</span></a></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

<nav id="menu">	</nav>
		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="box">
					<div class="content">

					<!-- Elements -->
						<h2 id="elements">Registeration</h2>
						<hr />
						<div class="field">
							{{message}}
						</div>
						<div class="row 200%">
							<div class="11u 12u$(medium)">
								<form ng-submit="register()">
									<div class="field">
										<label for="username" >Username</label>
										<input id="username" type="text" placeholder="Username" ng-model="username" ></input>
									</div>
									<div class="field">
										<label for="password" >Password</label>
										<input id="password" type="password" placeholder="Password" ng-model="password" ></input>
									</div>
									<div class="field">
										<label for="email" >Email</label>
										<input id="email" type="email" placeholder="Email" ng-model="email" ></input>
									</div>
									<div class="field">
										<label for="phone" >Phone Number</label>
										<input id="phone" type="text" placeholder="Phone Number" ng-model="phone" ></input>
									</div>
									<ul class="actions align-center">
										<li><input value="Register" class="button special" type="submit"></li>
									</ul>
								</form>
							</div>
						</div>
						</div>
					</div>
				</div>
			</section>